*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

/* dynamic classes */
.activeOne{
  display: none !important;
  /* background-color: black; */
}
.activeThree{
  display: none !important;
}
/* activetwo has used in state three */


.activeTwo{
  display: none !important;
}

 /* state one starts here */

button:hover{
  transform: scale(1.02);
}

.state-one{
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* margin-top: 140px; */
  position: relative;
  border: 1px solid;
 background: rgba(245, 245, 245, 0.48); 
}

#img-logo{
  width: 450px;
height: 180px;
top: 183px;
left: 289px;
/* angle: 0 deg; */
/* opacity: 1; */
margin-top: 130px;
}


.startBtn{
  /* letter-spacing: 1px; */
  font-weight: 600;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  background: rgba(53, 189, 58, 1);
  height: 43px;
  width: 235px;
  border: none;
border-radius: 3px;
  box-shadow: 2px 2px  0px 2px rgba(1, 171, 8, 1);
align-self: center;
margin-top: 10px;
cursor: pointer;
}




.box{
  margin: 100px;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 10px;
}

.stateOne-lastP{
  position: absolute;
  bottom: 15px;
  font-size: 9px;
  font-weight: 500;
}

.score-card-p{
  margin-top: 70px;
  font-size: 12px;
  font-weight: 600;
}
.activeScore{
  display: none;
}

@media screen and (max-width: 480px){
  #img-logo{
  width: 290px;
height: 120px;
top: 183px;
left: 289px;
/* angle: 0 deg; */
/* opacity: 1; */
margin-top: 130px;
}



.startBtn{
  /* letter-spacing: 1px; */
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  background: rgba(53, 189, 58, 1);
  height: 33px;
  width: 150px;
  border: none;
border-radius: 3px;
  box-shadow: 2px 2px  0px 2px rgba(1, 171, 8, 1);
align-self: center;
margin-top: 10px;
cursor: pointer;
}

.question-box-container{
  /* border: 1px solid; */
  max-height: 100px;
  background:  whitesmoke;
  border-radius: 5px;
  /* display: flex;
  align-items: center; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* padding: 25px; */
  position: relative;
  box-shadow: 1px -1px 0px 1px  rgba(245, 245, 245, 0.48),-1px 1px 0px 1px  rgba(245, 245, 245, 0.48);
  
}


}










/* state two starts here */
.state-two{
  /* border: 15px solid; */
  /* width: 100vh; */
  /* max-width: 800px; */
  width: 100%;
  height: 100vh;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(204, 226, 194, 1);
}

.state-two-inner-all-div{
  /* min-width: 90px; */
  width:80%;
  height: 90%;
  /* border: 1px solid; */
  position: relative;

}

@media(min-width:800px){
  .state-two-inner-all-div{
  /* min-width: 90px; */
  width: 600px;
  height: 90%;
  /* border: 1px solid; */
  position: relative;
}
}




#stateTwoLogo{
  
  width: 120px;
  /* height: 100px; */
}

.upper-heading{
  /* border: 1px solid; */
  height: 100px;
  position: relative;
}

#volume-btn{
position: absolute;
right: 0;
/* display: none; */
top: 40px;
width: 20px;
cursor: pointer;

/* box-shadow: 1px -1px 0px 1px  rgba(245, 245, 245, 0.48),-1px 1px 0px 1px  rgba(245, 245, 245, 0.48); */
}
.volume-btn-toggle{
display: none;
}

#volume-mute{
  position: absolute;
right: 0;
top: 40px;
height: 14px;
width: 20px;
/* display: none; */
cursor: pointer;
}

/* .volume-mute{
display: none;

} */
.question-complete-index-div{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 30px;
  background: rgba(254, 195, 61, 1);
  position: absolute;
  right: 0;
  bottom: 5px;
  border-radius: 4px;
}

.question-index{
  /* align-self: center; */
  display: flex;
  padding: 10px;
  font-weight: 600;
}

.currentQuestionIndex{
position: relative;
left: 0px;
top: 0px;
}

.totalIndex{
  position: relative;
  right: -1px;
  top: 0px;
}

.question-box-container{
  /* border: 1px solid; */
  height: 65px;
  background:  whitesmoke;
  border-radius: 5px;
  /* display: flex;
  align-items: center; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* padding: 25px; */
  position: relative;
  box-shadow: 1px -1px 0px 1px  rgba(245, 245, 245, 0.48),-1px 1px 0px 1px  rgba(245, 245, 245, 0.48);
  
}

.question-text{
  /* position: relative;
   */
   /* border: 1px solid blueviolet; */
   margin: 5px;
  /* left: 20px; */
  font-weight: 600;
  font-size: 12px;
}

.question-and-timer-main-container{
  top: 5px;
  position: relative;
  height: 125px;
  /* border: 3px solid yellow; */
  
}

.timer-div{
  /* border: 1px solid black ; */
  border-radius: 5px;
  height: 35px;
  width: 75px;
  font-size: 17px;
  color: rgba(255, 255, 255, 1);
  background:rgb(24, 156, 31) ;
  box-shadow: 1px -1px 0px 1px rgba(2, 164, 9, 0.43),-1px 1px 0px 1px  rgba(2, 164, 9, 0.43);
  /* background-color: rgba(2, 164, 9, 0.43); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  font-weight: 600;
  position: absolute;
  bottom: 10px;
  right: 0;
  /* padding: 10px; */
}

.first-half-time-p{
   position: relative;
  right: -5px; 
  /* border: 1px solid black; */
  width: 30px;

}

.timer-p{
  /* border: 1px solid; */
  position: relative;
  left: 2px;
  width: 30px;
}

.options-container{
  border: 2px solid;
  height: 250px;
  display: flex;
  border: none;
  border-radius: 5px;
  flex-direction: column;
padding: 10px;
gap: 20px;
margin-top: 5px;
background: whitesmoke;

box-shadow: 1px -1px 0px 1px  rgba(245, 245, 245, 0.48),-1px 1px 0px 1px  rgba(245, 245, 245, 0.48);
}

.wrong-class-img{
width: 20px;
height: 20px;
/* background: #000; */
/* border: 4px solid; */
}

.wrong-p{
  font-weight: 300;
}
.options-div-child{
  /* border: 1px solid; */
  width: 100%;
  height: 100;
  
}
.wrong-div{
  /* display: none !important; */
  display: flex; gap: 10px;
  min-width: 100px;
  /* border: 1px solid; */
}

.display-icon-div{
  display: none ;
}

/* .correct-div-sign { */

/* display: none; */
/* } */
.display-correct{
  display:none !important;
}
.correct-img{
  width: 16px;
  height: 16px;
}

.right-ans{
  
  border: 1px solid green !important;
}
.wrong-ans{
  border: 1px solid red !important;
}
.each-option-container{
margin-top: 2px;
  height: 40px;
border-radius: 5px;
  border: 1px solid lightgray;
  /* padding: 10px; */
padding: 10px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.each-option-container:hover{
  transform:scale(1.01);
}


.last-tagline{
  border: 5px solid;
  height: 100px;
}

.stateTwo-lastP{
   position: absolute;
   /* left: 40%; */
  bottom: 5px;
  align-self: center;
  font-size: 9px;
  font-weight: 500;
}

.stateTwo-lastP-container{
  display: flex;
  justify-content: center;

}

.stateTwo-nextBtn{
  border: none;
  background: rgba(204, 226, 194, 1);
font-weight: 600;
color: green;
position: absolute;
bottom: 50px;
cursor: pointer;
right: 0;
}


/* state three starts here */

.state-three-logo{
  width: 120px;
 
}

.state-three-result-tag{
  font-weight: 600;
position: relative;
bottom: 8px;
left: 8px;
}

.state-three-heading-logos{
/* border: 1px solid orange; */
width: 100%;
position: relative;
top: 10px;
display: flex;
align-items: center;
flex-direction: column;
}
.state-three{
  display: flex;
  /* margin-top: 10px; */
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* border: 5px solid ; */
  height: 100vh;
  /* width: 100%; */
}

.green-mark{
  /* border: 1px solid; */
  /* width: 100px; */
  position: absolute;
  /* top: 250px; */
  bottom: 0;
  left: 10px;
 
}

.gree-mark-sign{
 width: 50px;
  height: 50px;
}
.red-mark{
  /* border: 1px solid; */
  position: absolute;
right: 22px;
top: 40px;
}

.green-marks-number{
/* border: 1px solid; */
position: relative;
bottom: 10px;
left: -10px;
}

.red-marks-number{
  /* border: 1px solid; */
  position: relative;
  right: -38px;
bottom: 10px;

}
.state-three-result-circle-div-main-container{
  /* border: 1px solid ; */
  margin-top: 100px;
padding:  0px 40px;
position: relative;
}
.circle-div-container{
  font-weight: 600;
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  /* border: 25px solid ; */
  /* border-image: linear-gradient(to right, red 50%, blue 20%)1; */
  border-radius: 50%;
  background: conic-gradient(
    from 65deg,
    rgba(53, 189, 58, 1) 0% 95%, rgba(255, 122, 122, 1)  10% 
  );
}

.inner-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 50%;
}
.state-three-last-greetin-p{
  font-weight: 600;
  font-size: 20px;
}

.state-three-retry-btn{
  /* border: none; */
    /* letter-spacing: 1px; */
    position: relative;
    top: 10px;
  font-weight: 500;
  font-size: 15px;
  color: white;
  background: rgba(53, 189, 58, 1);
  height: 35px;
  width: 140px;
  border: none;
border-radius: 1px;
  box-shadow: 2px 2px  0px 2px rgba(1, 171, 8, 1);
 
/* margin-top: 10px; */
cursor: pointer;
margin-top: 10px;
}

.retry-btn-state-three{
  margin-right: 35px;
  /* position: relative;
  top: 100px; */
}

.greetin-tag-and-retry-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 30px;
}

.state-three-footer{
  /* border: 1px solid; */
  margin-top: 80px;
  color: rgb(68, 65, 65);
  font-weight: 600;
  font-size: 15px;
 

}

.footer-inner-logos{
  display:flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  margin: 3px;
}

.logo-icons{
  width: 25px;

}

.stateThree-lastP{
  /* width: 100%;
  /* border: 1px solid; */
  font-size: 8px;
  /* margin-right: 10px; */
}

.last-p-Div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}


.restartBtn{
  /* display: none; */
  margin-bottom: 10px;
}