*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* width: 100%; */
}

.active{
  display: none;
}

.question{
  border: 1px solid white;
  height: 50px;
  margin: 10px;
  text-align: center;
  padding: 5px;
}
.main{
  border: 1px solid white;
  min-height: 200px;
  min-width: 400px;
}

.option-child{
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
}